@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		font-family:'Urbanist', sans-serif;
		vertical-align: baseline;}

	body, input, textarea, select {
		font-weight: 300;
		color: #0c2340;
		font-size: 14pt;
		line-height: 1.75em;
	}

	html {
		line-height:1.15; 
		-ms-text-size-adjust:100%; 
		-webkit-text-size-adjust:100%;
	}

	/*::-webkit-scrollbar{
		display: none;
	}*/

	@media (max-width: 700px){
		::-webkit-scrollbar{
			display: none;
		}
	}


/*BUTTONS*/
	.btn{
		--bs-btn-line-height:none !important;
	}

/* CONTAINERS */
	.container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
		padding: 0;
		margin: 0;
	}


/* NAVBAR */
	.navbar{
		--bs-navbar-toggler-border-color: none;
	}

	.navbar-nav .nav-link.show {
		border-bottom: solid 0.2em rgba(0, 198, 86, 0.50);
	}

	.navbar-set{
		box-shadow: 0 0 4px 1px #adb5bd;
		--bs-navbar-padding-x:0.5em ;
	}

	.navbar-collapse {
		justify-content: flex-end;
	}

	.navbar-brand {
		padding: 0 2em;
	}

	.navbar-nav{
		align-items: center;
	}

	.nav-item{
		margin-right: 1.5em;
		list-style: none;
		border-bottom: solid 0.2em transparent;
	}

	.nav-link{
		color: #0c2340 !important;
		transition: none;
		border-bottom: 3px solid transparent;
		float: left;
	}

	.nav-link:hover{
		border-bottom: solid 0.2em rgba(0, 198, 86, 0.50);
	}


/* NAVBAR - BUTTON */
	.btn-success{
		border-radius: 5em !important;
		background-color: #00c756 !important;
		padding: 0.3em 1em !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		margin-right: 2em;
		line-height: none;
	}

	.nav-btn{
		display: flex;
		justify-content: flex-end;
	}


/* NAVBAR - DROPDOWN */
	.dropdown-menu-dark{
		--bs-dropdown-color: #f3f3f3;
		--bs-dropdown-bg: #0c2340;
		--bs-dropdown-link-hover-color: #00c756;
		--bs-dropdown-link-active-color: #00c756;
		--bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.15);
		--bs-dropdown-item-padding-x: 4rem;
    	--bs-dropdown-item-padding-y: 1rem;
	}

	.dropdown {
    	position: static !important;
    }
          
    .dropdown-menu {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-top: 0px !important;
        width: 100% !important;
	}


/* NAVBAR - DROPDOWN TOGGLE */
	.dropdown-toggle::after{
		border: none;
	}
	
	.dropdown-toggle{
		color:#0c2340;
	}

	.dropdown-menu{
		box-shadow: none!important;
		--bs-dropdown-border-width: none;
		--bs-dropdown-border-radius: none;
	}

	.navbar-toggler{
			color: transparent;
	}

	/* RESPONSIVE TOGGLE*/
		@media (max-width: 992px){
			.navbar-nav{
				padding: 0 1em 1em 0;
				align-items: flex-start;
			}
			.nav-item{
				margin:0;
			}
			.btn-success{
				margin:0;
			}
			.header-link{
				margin-left: 1em;
			}
			.navbar-nav > li > a:hover{	
				color: #00c756 !important;
			}
			.p-2{
				padding: 2.5em !important;
			}
			.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
				color: #00c756 !important;
			}
			.bg-body-tertiary{
				background-color: #f7f7f7!important;
			}
			.navbar-set {
				box-shadow: none;
			}
			.nav-link:hover{
				border-bottom: none;
			}
			.dropdown-menu{
				border-top: solid 0.2em #00c756;
			}
			ul.multicolumn li {
				float:none !important;
			}
			.dropdown-menu-dark{
				--bs-dropdown-bg: #f7f7f7;
				--bs-dropdown-item-padding-x: 0;
			}
			.dropdown-item{
				color: #0c2340;
			}
			.navbar-nav .nav-link.show {
				border-bottom: none;
			}
		}



/* WELCOME - BANNER */
	ul.multicolumn {
		left: 300px;
		margin-bottom: 20px;
		overflow: hidden;
	}

	ul.multicolumn li {
		float: left;
		display: inline;
	}

	ul.multicolumn li {
		width: 50%;
	}

	/*WELCOME IMAGE*/

	.container-image::after{
		content: "";
		width: 100%;
		height: 62.5em;
		position: absolute;
		left: 0;
		bottom: 0;
		background: radial-gradient(87.21% 78.08% at 63.22% 2.10%, rgba(12, 35, 64, 0.00) 12.50%, #0C2340 96.35%);
	}
	
	
/* WELCOME - BANNER BTN */
	.btn-outline-success{
		color: #00c756 !important;
		border-color: #00c756 !important;
		border-radius: 5em !important;
		padding-right: 2em;
		padding-left: 2em;
		text-transform: uppercase !important;
		border: 0.1em solid;
	}

	.btn-outline-success:hover{
		color: #f3f3f3 !important;
		background-color: #00c756 !important;
	}

	.btns{
		display: flex;
		justify-content: space-between;
		width: 85%;
	}

/* WELCOME INDICATORS */
	.carousel-indicators [data-bs-target] {
		width: 10px;
		height: 10px;
		border-bottom: 50em;
		border-top: 50em;
		border-radius: 50em;
		margin-right: 5px;
		margin-left: 5px;
		background-color: #a8adb0;
		opacity: 1;
	}

	.carousel-indicators {
		justify-content: flex-end !important;
	}

	.carousel-indicators .active {
    	width: 30px;
		background-color: #00c756;
	}

	
/* WELCOME - BANNER TEXT */
	.carousel-caption{
		left: 5%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
	}

	.carousel-caption h5 {
		font-size: 3.5em;
		margin-bottom: 0.5em;
		color: #a8adb0;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 0.9;
		text-align: left;
		width: 100%;
	}

	.carousel-caption p{
		margin: 2em 0;
		display: flex;
		text-align: justify;
		font-size: 12pt;
		line-height: 1.5em;
	}

	.carousel-caption h5 span {
		position: absolute;
		display: contents;
		color: #00c756;
		font-size: 1.5em;
		line-height: 0;
	}


/* WELCOME - ICONS */
	.carousel-control-prev-icon{
		background-image: url('data:image/svg+xml,<svg  viewBox="0 0 102 66"  fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path  d="M22.2744 34.6418C21.6886 34.0561 21.6886 33.1063 22.2744 32.5205L31.8204 22.9746C32.4062 22.3888 33.3559 22.3888 33.9417 22.9746C34.5275 23.5604 34.5275 24.5101 33.9417 25.0959L25.4564 33.5812L33.9417 42.0665C34.5275 42.6522 34.5275 43.602 33.9417 44.1878C33.3559 44.7736 32.4062 44.7736 31.8204 44.1878L22.2744 34.6418ZM78.3483 35.0812H23.3351V32.0812H78.3483V35.0812Z"/></svg>');
	}

	.carousel-control-next-icon{
		background-image:url('data:image/svg+xml,<svg viewBox="0 0 102 66" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M79.4463 34.6418C80.0321 34.0561 80.0321 33.1063 79.4463 32.5205L69.9003 22.9746C69.3145 22.3888 68.3648 22.3888 67.779 22.9746C67.1932 23.5604 67.1932 24.5101 67.779 25.0959L76.2643 33.5812L67.779 42.0665C67.1932 42.6522 67.1932 43.602 67.779 44.1878C68.3648 44.7736 69.3145 44.7736 69.9003 44.1878L79.4463 34.6418ZM23.3724 35.0812H78.3856V32.0812H23.3724V35.0812Z"/></svg>');
	}

	.carousel-control-next-icon, .carousel-control-prev-icon{
		border: solid 0.02em #f3f3f3;
		border-radius: 5em;
		padding: 0.2em 1.5em;
		display: grid;
	}

	.carousel-control-next, .carousel-control-prev {
		display: flex;
		align-items: flex-end;
	}

	.carousel-control-prev-icon {
		margin-right: 2em;
		position: absolute;
		display: flex;
		justify-content: flex-end;
	}

	#prev-icon{
		display: flex;
		width: 92%;
		justify-content: flex-end;
	}

	.controls {
		position: relative;
		bottom: 8.5em;
	}

	.carousel-control-prev {
		margin-left: -3em;
	}

	.carousel-control-next{
		margin-right: 0.5em;
	}


	/* RESPONSIVE AREA CAROUSEL */
		@media (min-width: 1900px){
			.container-image {
				height: 55em;
			}
			.carousel-caption {
				width: 50%;
				bottom: 25%;
			}
			.controls {
				bottom: 10.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 1500px) and (max-width: 1899px){
			.carousel-caption {
				bottom: 25%;
				width: 50%;
			}
			.container-image {
				height: 42.5em;
			}
			.controls {
				bottom: 8.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 1200px) and (max-width: 1499px){
			.carousel-caption {
				bottom: 25%;
				width: 65%;
			}
			.controls {
				bottom: 8.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px){
			.carousel-caption {
				bottom: 25%;
				width: 70%;
			}
			.carousel-caption h5 {
				font-size: 3em;
			}
			.controls {
				bottom: 7.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (max-width: 991px){
			.container-image {
				background-color: #0c2340;
				height: 35em;
			}
			.carousel-caption {
				top: 20%;
				width: 90%;
			}
			.carousel-caption h5 {
				font-size: 3em;
			}
			.controls {
				bottom: 7.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
			.dropdown-menu-dark{
				--bs-dropdown-item-padding-y: 0.5em;
			}
			.navbar-brand {
				padding: 0 0.5em;
			}
			.navbar-brand svg{
				width: 7em !important;
			}
		}

		@media (max-width: 767px){
			.carousel-caption {
				top: 15%;
				width: 90%;
			}
			.container-image {
				height: 37em;
			}
			.controls{
				visibility:hidden ;
			}
			.carousel-indicators{
				padding-bottom: 3.5em;
				visibility: visible !important;
			}
		}

		@media (max-width: 400px){
			.banner-caption h2 {
				font-size: 2.5em !important;
				margin-bottom: 0;
			}
		}



/* FIRST SECTION */
	#first-section {
		height: auto;
	}

	.first-bg {
		width: auto;
		height: auto;
		background-color: rgb(247, 247, 247);
	}

	.first-part-bg::before {
		content: "";
		width: 100%;
		height: 20em;
		background-color: rgb(12, 35, 64);
		position: absolute;
		z-index: 0;
	}

	#title {
		padding-bottom: 3em;
	}
	
	#title h6 {
		font-size: 2em;
		text-transform: uppercase;
		font-weight: 600;
		color: rgb(0, 199, 86);
		margin-left: 2em;
		z-index: 2;
		position: relative;
	}

	#title::before {
		content: "";
		height: 1.7em;
		width: 2.5em;
		background-color: rgb(0, 199, 86);
		position: absolute;
		margin: 0px !important;
	}

	.first-container {
		display: flex;
		margin: 0px 5em;
	}
	
	#row-first {
		--bs-gutter-x: none;
	}


/* CARDS */
	.first-row{
		justify-content: space-evenly;
	}

	:root {  
	  --g1: #a8adb0;
	  --g2: #a8adb0;
	  --g3: #a8adb0;
	}

	.cards{
		border: none;
	}

	.cards img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		border-radius: 0.6em;
	}

	.gradient-card {
		aspect-ratio: 1 / 1.4;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		border-radius: 0.6em;
		margin: 0px 0.5em 5em;
	}

	.gradient-card::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		bottom: 0px;
		background: linear-gradient(rgba(217, 217, 217, 0) 0%, rgb(217, 217, 217) 100%);
		border-radius: 0.6em;
	}

	.cards::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #D9D9D9 100%);
		opacity: 0;
		transition: opacity 0.3s ease;
	}
    
    .cards:hover::before {
		opacity: 1;
    }

	.gradient-card:hover:before {
		background-position: 100% 100%;
	}

	.gradient-card:hover > .card-content {
		opacity: 1;
		transform: translateY(0%);
		transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
	}

	.gradient-card::before {
		background-image: ;
		background-attachment: ;
		background-origin: ;
		background-clip: ;
		background-color: ;
		background-size: 300% 300%;
		content: "";
		height: 100%;
		left: 0px;
		pointer-events: none;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 1;
		background-position: 0% 0%;
		transition: background-position 350ms ease 0s, transform 350ms ease 0s;
		border-radius: 0.6em;
	}
	
	.cards h3 {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: rgb(12, 35, 64);
		font-weight: 600;
		line-height: 89.5%;
		text-transform: uppercase;
		text-align: right;
		z-index: 2;
		margin: 0px;
		padding: 30px;
	}


	/* RESPONSIVE AREA FIRST SECTION */
		@media (min-width: 1900px) {
			.cards {
				max-width: 20%;
				flex: 0 0 28%;
			}
			.cards h3 {
				font-size: 25pt;
			}
		}

		@media (min-width: 1500px) and (max-width: 1899px) {
			.cards {
				max-width: 20%;
				flex: 0 0 20%; 
			}
			.cards h3 {
				font-size: 22pt;
			}
		}

		@media (min-width: 1200px) and (max-width: 1499px) {
			.cards {
				max-width: 20%;
				flex: 0 0 20%; 
			}
			.cards h3 {
				font-size: 18pt;
				padding: 20pt;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			.cards {
				max-width: 30%;
				flex: 0 0 30%;
			}
			.cards h3 {
				font-size: 20pt;
			}
		}

		@media (max-width: 991px) {
			.cards {
				max-width: 30%;
				flex: 0 0 45%;
			}
			.cards h3 {
				font-size: 15pt;
				padding: 15px
			}
		}

		@media (max-width: 767px){
			.cards {
				max-width: 40%;
				flex: 0 0 70%;
			}
		}

		@media (max-width: 600px){
			.cards {
				max-width: 75%;
				flex: 0 0 100%;
			}
			.cards::after{
				background: linear-gradient(rgb(217 217 217 / 45%) 0%, rgb(217, 217, 217) 100%);
			}
			.cards h3 {
				font-size: 20pt;
				padding: 15px
			}
			.gradient-card {
				aspect-ratio: auto;
				margin-bottom: 1.5em;
			}
		}
		
		@media (max-width: 500px){
			#title h6 {
				font-size: 1.5em;
				margin-left: 0.7em;
			}
			#title::before {
				width: 0.5em;
				height: 1.5em;
			}
			.cards {
				max-width: 100%;
				flex: 0 0 100%;
			}
			.cards h3 {
				font-size: 16pt;
				padding: 15px;
			}
		}



/* SECOND SECTION */
	/* TITLE 2 */
	#second-section {
		height: auto;
		background-color: rgb(247, 247, 247);
	}

	#title2{
		padding-top: 2em;
	}

	.title2 {
		display: block;
		position: relative;
	}

	.name {
		display: block;
		position: relative;
		color: #0C2340;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 800;
		line-height: normal;
		text-transform: uppercase;
		padding: 0 1em;
	}

	header.major > .title2:before, header.major > .title2:after {
		content: '';
		color: #0c2340;
		display: block;
		position: absolute;
		top: 50%;
		width: calc(32% - 0.1em);
		border-top: solid 0.1em;
	}

	header.major > .title2:before {
		left: 5em;
	}

	header.major > .title2:after {
		right: 5em;
	}


	/*RESPONSIVE SECOND SECTION*/
		@media screen and (max-width: 1530px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(32% - 3em);
			}
		}

		@media screen and (max-width: 1200px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(32% - 5em);
			}
		}	

		@media screen and (max-width: 950px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(25% - 2em);
			}
			header.major > .title2:before {
			left: 2.5em;
			}
			header.major > .title2:after {
				right: 2.5em;
			}
		}

		@media screen and (max-width: 750px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(25% - 3.5em);
			}
		}

		@media screen and (max-width: 600px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(30% - 5.5em);
			}
		}

		


/* SLIDER*/
	.highway-slider {
		display:flex;
		justify-content:center;
		width:100%;
		height:200px;
	}
	
	.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	
	.highway-lane {
		display:flex;
		height:100%;
	}
	
	.highway-car {
		flex:1;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.highway-lane {
		width:500%;
	}

	@keyframes translateinfinite {
		100% { transform:translateX(calc(-180px * 12));  }
	}

	#infinite div.highway-barrier {
		&::before,
		&::after {
			content: " ";
			position:absolute;
			z-index:9;
			width:180px;
			height:100%;	
		}
		&::before {
			top:0;left:0;
			background: linear-gradient(to right, rgba(247 247 247) 0%, rgba(255,255,255,0) 100%);
		}
		&::after {
			top:0;right:0;
			background: linear-gradient(to left, rgba(247 247 247) 0%, rgba(255,255,255,0) 100%);
		}

		.highway-lane {
			width:calc(180px * 24); /*numero de images*/
		}
		.highway-car {
			width:180px;
			animation:translateinfinite 25s linear infinite; /*loop*/
		}
	}}

	.marquee__content li {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.marquee__img {
		width: 25vw;
		padding: 0 10em;
	}

	@keyframes scrolling{
		0% { transform: translateX(-0vw); }
		100% { transform: translateX(-160vw); }
	}


	/* RESPONSIVE LOOP AREA */
		@media (min-width: 1600px) and (max-width: 1800px){
			.marquee__img {
				width: 10vw;
				padding: 1.5rem;
			}
		}

		@media (min-width: 1400px) and (max-width: 1599px){
			.marquee__img {
				width: 12vw;
				padding: 2.5rem;
			}
		}

		@media (min-width: 1101px) and (max-width: 1399px){
			.marquee__img {
				width: 15vw;
				padding: 2.5rem;
			}
		}

		@media screen and (max-width: 1100px) {
			.marquee__img {
				width: 10vw;
				padding: 1rem;
			}
				@keyframes scrolling {
				0%   {transform: translateX(-0vw);}
				100% { transform: translateX(-200vw);}
			}
		}

		@media screen and (max-width: 1100px) {
			.marquee__img {
				width: 15vw;
				padding: 1rem;
			}
		}

		@media screen and (min-width: 701px)  and (max-width: 1101px) {
			.marquee__img {
				width: 18vw;
				padding: 1.5rem;
			}
		}

		@media (max-width: 500px) and (max-width: 700px) {
			.marquee__img {
				width: 25vw;
				padding: 1rem;
			}
		}

		@media screen and (max-width: 500px) {
			.name{
				font-size: 1.5rem;
			}
			header.major > .title2:before, header.major > .title2:after {
				width: calc(30% - 4em);
			}
			.marquee__img {
				width: 30vw;
				padding: 0.5rem;
			}
		}



/* THIRD SECTION */
	#third-section{
		background-color: #f7f7f7;
	}

	.cases{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		padding: 4em;
	}

	.case {
		max-width: 1000px;
		margin-bottom: 2em !important;
		border: solid 0.01em #0c2340;
		background: transparent;
	}

	.card-body{
		padding: 0;
	}

	.card-body h5{
		color: #0C2340;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	.card-body p {
		padding-top: 0.5em;
		font-size: 12pt;
		line-height: 16pt;
		color: #0C2340;
		text-align: justify;
	}

	.cases-img{
		padding: 1em;
	}

	.cases img {
		height: 100%;
		object-fit: cover;	
	}

	.card-caption{
		padding: 3.5em 1em 3.5em 1em;
	}


	/* RESPONSIVE AREA THIRD SECTION */
		@media screen and (max-width: 767px) {
		#reverse{
			display: flex;
			flex-direction: column-reverse;
		}
		.card-caption{
			padding: 0 1em 2em 1em;
		}
	}

		@media screen and (max-width: 500px) {
			.banner-caption h2 {
				font-size: 3em !important;
			}
			.banner-caption h2 {
				margin-top: 0;
			}
		}



/* ACTION BANNER */
	.action-banner {
		height: auto;
		background: conic-gradient(from 164deg at 50.00% 80.90%, #A8B0AD 0deg, #00C756 69.37499821186066deg, #A8ADB0 114deg, #A8ADB0 268deg, rgba(12, 35, 64, 0.50) 296deg, #A8ADB0 345deg);
		display: flex;
		align-items: center;
	}

	.banner-caption {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 2em;
	}

	.banner-caption h2 {
		color: #0C2340;
		text-align: center;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1em;
		margin-top: 0.5em;
	}

	.btn-primary {
		border-radius: 5em !important;
		background-color: #0c2340 !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		padding: 0.5em 3em;
	}



/* FOOTER */
	#footer {
		height: auto;
	}

	.f-nav{
		padding-bottom: 2em;
	}

	.footer-bg{
		background-color: #0c2340 !important;
	}

	.footer-p{
		--bs-navbar-padding-x: 0.5em;
		padding-top: 1.5em;
	}

	.footer > .container-fluid{
		align-items: flex-start;
	}

	.nav-menu{
		width: 48%;
		display: flex;
		flex-direction: column;
	}

/* MENU PART 1 */
	.menu-one {
		margin-left: 2em;
		display: flex;
		flex-direction: column;
	}


	/* SOCIAL MEDIA */
		.f-social-media {
			display: flex;
			justify-content: flex-start;
		}

		.s-media{
			display: flex;
			justify-content: space-between;
			padding: 4em 0 2.5em 0;
			width: 40%;
			right: 0;
			position: relative;
		}

		.media{
			margin-right: 4em;
		}

		.social-media {
		  display: flex;
		}

		.media:hover svg path {
		  fill: #00c756;
		}

	/* FOOTER INFO */
		.information{
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		.info1, .info2{
			display: flex;
			flex-direction: row;
		}

		.info1{
			padding-bottom: 1.5em;
		}

		.info1 p, .info2 p {
			padding-left: 2em;
			color: #a8adb0;
			line-height: normal;
			margin-top: 0.5em;
			font-size: 12pt;
			width: 60%;
		}

/* MENU PART 2 */
	.menu-two{
		margin-right: 2em;
	}

	/*.f-link {
		color: #a8adb0 !important;
		font-weight: 600;
	}

	.f-link:hover{
		border: none;
		color: #00c756 !important;
		font-weight: 600;
	}

	.footer-nav > .nav-item{
		margin: 0 0 0 1.5em;
	}*/

	/* NAV FOOTER */
	.footer-menu{
		display: flex;
		flex-direction: row;
	}

	.accordion-item {
		color: #f7f7f7;
		background-color: transparent;
		border: none;
		margin-left: 4.5em;
	}

	.footer-accordion-items {
		padding: 0;
	}

	.footer-accordion-items > li{
		list-style: none;	
		padding: 0.25em 0.5em;
		color: #f7f7f7;
	}

	.accordion-button {
		color: #a8adb0;
		background-color: transparent;
		font-size: 14pt;
		justify-content: flex-end;
		padding: 0;
	}

	.accordion{
		--bs-accordion-active-color: #00c756 !important;
		--bs-accordion-active-bg: transparent !important;
		--bs-accordion-border-color: #00c756 !important;
		--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a8adb0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300c756'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
		--bs-accordion-btn-icon-width: 0.75rem;
	}

	.accordion-button:not(.collapsed) {
		box-shadow: inset 0 calc(-2 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color) !important;
	}

	.f-dropdown-item{
		font-size: 11pt;
		color: #f7f7f7;
	}

	.footer-accordion-items>li:hover{
		background: rgba(255, 255, 255, 0.15);
	}

	.accordion-button::after{
		margin-left: 0.15em;
	}

	.accordion-button:hover{
		color: #00c756 ;
	}

	/* FOOTER BUTTON */
	.footer-button {
		display: flex;
		padding-top: 2em;
		justify-content: flex-end;
	}

	/* CERTIFICATIONS */
		.certificate{
			display: flex;
			justify-content: flex-end;
			margin-top: 3em;
		}

		.certifications {
			display: flex;
			justify-content: flex-end;
			width: 100%;
			position: relative;
		}

		.certifications .c-one{
			height: 8.4em;
			width: auto;
		}

		.certifications > .c-two, .certifications>.c-three{
			height: 7em;
			width: auto;
		}

		.c-one, .c-two{
			padding-right: 2em;
		}


	/* RESPONSIVE AREA FOOTER */
		@media (max-width: 1450px){
			.footer-menu{
				display: flex;
				flex-direction: column !important;
				align-items: flex-end;
			}
			.accordion-button{
				padding: 0.25em 0;
				justify-content: flex-end;
			}
		}

		@media screen and (max-width: 1260px){
			.certifications{
				padding-top: 3.5em;
			}
		/*	.footer-nav > .nav-item {
				margin: 0 0 0 0.5em;
			} */
			.certifications .c-one{
				height: 7.5em;
			}
			.certifications > .c-two, .certifications>.c-three{
				height: 6em;
			}
			.info1 p, .info2 p {
				width: 80%;
			}
		}

		@media (max-width: 991px){
			.nav-menu{
				width: 100%
			}
			.menu-one{
				margin-right: 2em
			}
			.information{
				padding-top: 0;
				padding-bottom: 2em;
				border-bottom: solid 0.12em #a8adb0;
			}
			.menu-two{
				margin-left: 2em;
			}
		/*	.footer-nav{
				justify-content: center !important;
			}
			.footer-nav > .nav-item {
				margin: 0 0 0 2.5em;
			} */
			.footer-button {
				padding: 2em 0 0 1.5em;
				justify-content: flex-start;
			}
			.certifications{
				justify-content: space-around;
				padding-top: 1em
			}
			.info1 svg, .info2 svg{
				width: 1.5em;
			}
			.footer-menu{
				align-items: flex-start;
			}
			.accordion-button{
				justify-content: flex-start;
			}
			.accordion-item {
				margin-left: 0.5em;
			}
			.info1 p, .info2 p {
				width: 100%;
			}
		}

		@media (max-width: 500px){
			.info1 p, .info2 p{
				margin-top: 0 !important;
				margin-right: 0;
				margin-left: 1.5em;
			}
			.info1 svg, .info2 svg{
				position: absolute;
				height: 1.5em;
			}
			.media {
    			margin-right: 1.5em;
			}
			.certifications {
				padding-top: 0;
			}
			.certifications .c-one{
				height: 5.2em;
			}
			.certifications > .c-two, .certifications>.c-three{
				height: 4em;
			}
			.s-media a svg{
				height: 1.5em;
			}
			.footer-button {
    			padding: 2em 0 0 0;
			}
		}


	/*	@media (max-width: 675px){
			.footer-items{
				flex-direction: column;
			}
		}

		@media (max-width: 489px){
			.footer-nav > .nav-item {
				margin: 0;
			}
		}	*/






