@import url("fontawesome-all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900,300italic");
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		font-family:'Urbanist', sans-serif;
		vertical-align: baseline;}

	body, input, textarea, select {
		font-weight: 300;
		color: #0c2340;
		font-size: 14pt;
		line-height: 1.75em;
	}

	html {
		line-height:1.15; 
		-ms-text-size-adjust: 100%; 
		-webkit-text-size-adjust: 100%;
		display: block;
	}

	html, scroll{
		scroll-behavior: smooth;
	}


/* SCROLLBAR */
	::-webkit-scrollbar {
		background-color: #f7f7f7;
	}

	::-webkit-scrollbar-thumb {
		background-color: #0c2340;
		border-radius: 5em;
		border: 0.15em solid #f7f7f7;
	}


/* FIREFOX SCROLLBAR */
	* {
		scrollbar-width: auto;
		scrollbar-color: #0c2340 #f7f7f7;
	}

	/*::-webkit-scrollbar{
		display: none;
	}*/

	@media (max-width: 768px){
		::-webkit-scrollbar{
			display: none;
		}
	}

/* BODY */
	body{
		background: #f7f7f7;
		margin: 0
	}

	html, body{
		overflow-x: clip;
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
		/*	-moz-animation: none !important;
			-ms-animation: none !important; */
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}/*preload*/


/*BUTTONS*/
	.btn{
		--bs-btn-line-height:none !important;
	}

/* CONTAINERS */
	.container-sm, .container-md, .container-lg, .container-xl, .container-xxl{
		padding: 0;
		margin: 0;
	}


/* NAVBAR */
	.navbar{
		--bs-navbar-toggler-border-color: none;
	}

	.navbar-nav .nav-link.show {
		border-bottom: solid 0.2em rgba(0, 198, 86, 0.50);
	}

	.navbar-set{
		box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15), inset 0 -1px 0 rgba(255,255,255,0.15);
		--bs-navbar-padding-x:0.5em ;
	}

	.navbar-collapse {
		justify-content: flex-end;
	}

	.navbar-brand {
		padding: 0 2em;
	}

	.navbar-nav{
		align-items: center;
	}

	.nav-item{
		margin-right: 1.5em;
		list-style: none;
		border-bottom: solid 0.2em transparent;
	}

	.nav-link{
		transition: none;
		border-bottom: 3px solid transparent;
		float: left;
	}

	.nav-link:hover{
		border-bottom: solid 0.2em #a8adb0;
		transform-origin: left;
  		transition: transform 0.5s ease-in-out;
	}

	.nav-link:active{
		border-bottom: solid 0.2em #a8adb0;
	}

	.nav-active{
		font-weight: 600;
		border-bottom: solid 0.2em #a8adb0;
	}

	.navbar-nav .nav-link.active {
		border-bottom: solid 0.2em rgba(0, 198, 86, 0.50);
	} /* ACTIVE BORDER SELECTION */

	.dropdown-item.active, .dropdown-item:active {
		color: #dee2e630;
		background-color: #dee2e6;
	}


/* NAVBAR - BUTTON */
	.btn-success{
		border-radius: 5em !important;
		background-color: #00c756 !important;
		padding: 0.3em 1em !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		margin-right: 2em;
		line-height: none;
	}

	.nav-btn{
		display: flex;
		justify-content: flex-end;
	}


/* NAVBAR - DROPDOWN */
	.dropdown-menu-dark{
		--bs-dropdown-color: #f3f3f3;
		--bs-dropdown-bg: #0c2340;
		--bs-dropdown-link-hover-color: #00c756;
		--bs-dropdown-link-active-color: #00c756;
		--bs-dropdown-link-active-bg: rgba(255, 255, 255, 0.15);
		--bs-dropdown-item-padding-x: 4rem;
    	--bs-dropdown-item-padding-y: 1rem;
/*blur*/--bs-dropdown-bg: #0c2340e8; 
    	backdrop-filter: blur(20px);/*blur*/
	}

	.dropdown {
    	position: static !important;
    }
          
    .dropdown-menu {
		box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15)!important;
        margin-top: 0px !important;
        width: 100% !important;
	}


/* TOGGLER BUTTON */
	.navbar-toggler{
		width: 20px;
		height: 30px;
		position: relative;
		transition: .5s ease-in-out;
		margin-right: 1em;
	}

	.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active, .navbar-toggler-icon:focus{
		outline: none;
		box-shadow: none;
		border: 0;
	}

	.navbar-toggler span{
		margin: 0;
		padding: 0;
	}

	.toggler-icon{
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: #0c2340;
		border-radius: 5em;
		opacity: 1;
		transform: rotate(0deg);
		transition: 0.25s ease-in-out;
	}

	.middler-bar{
		margin-top: 0px;
	}

	/* navigation clicked */
	.navbar-toggler .top-bar{
		margin-top: 0em;
		transform: rotate(135deg);
	}

	.navbar-toggler .middle-bar{
		opacity: 0;
		filter: alpha(opacity=0);
	}

	.navbar-toggler .bottom-bar{
		margin-top: 0px;
		transform: rotate(-135deg);
	}

	/* navbar collapsed */
	.navbar-toggler.collapsed .top-bar{
		margin-top: -8px;
		transform: rotate(0deg);
	}

	.navbar-toggler.collapsed .middle-bar{
		opacity: 1;
		filter: alpha(opacity=100);
	}

	.navbar-toggler.collapsed .bottom-bar{
		margin-top: 8px;
		transform: rotate(0deg);
	}


/* NAVBAR - DROPDOWN TOGGLE */
	.dropdown-toggle::after{
		border: none;
	}
	
	.dropdown-toggle{
		color:#0c2340;
	}

	.dropdown-menu{
		box-shadow: none!important;
		--bs-dropdown-border-width: none;
		--bs-dropdown-border-radius: none;
	}

	.navbar-toggler{
		color: transparent;
	 }

	/* RESPONSIVE TOGGLE */
		@media (max-width: 991px){
			.navbar-nav{
				padding: 0 1em 1em 0;
				align-items: flex-start;
			}
			.nav-item{
				margin:0;
			}
			.btn-success{
				margin:0;
			}
			.header-link{
				margin-left: 1em;
			}
			.p-2{
				padding: 1em 0 2.5em 0 !important;
			}
			.navbar-nav > li > a:hover, .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
				color: #00c756 !important;
			}
			.bg-body-tertiary{
				background-color: #f7f7f7!important;
			}
			.nav-link{
				border: none;
			}
			.nav-active{
				color: #a8adb0 !important;
			}
			.nav-link:hover{
				border-bottom: none;
			}
			.dropdown-menu{
				border-top: solid 0.2em #00c756;
			}
			ul.multicolumn li {
				float:none !important;
			}
			.dropdown-menu-dark{
				--bs-dropdown-bg: #f7f7f7;
				--bs-dropdown-item-padding-x: 1em;
				--bs-dropdown-link-hover-bg: #0c234066;
				--bs-dropdown-link-hover-color: #f7f7f7;
			}
			.dropdown-item{
				color: #0c2340;
			}
			.navbar-nav .nav-link.show {
				border-bottom: none;
			}
		}

	/* RESPONSIVE NAVBAR- BUTTON */
		@media (max-width: 1017px){
			.btn-success{
				margin-right: 0;
			}
			.navbar-brand {
				padding: 0 1em;
			}
		}

	/* RESPONSIVE NAVBAR SHADOW */
		@media (max-width: 500px){
			.navbar-set{
				box-shadow: none;
			}
		}


/* WELCOME - BANNER */
	ul.multicolumn {
		left: 300px;
		margin-bottom: 20px;
		overflow: hidden;
	}

	ul.multicolumn li {
		float: left;
		display: inline;
	}

	ul.multicolumn li {
		width: 50%;
	}

	/*WELCOME IMAGE*/
	.container-image::after{
		content: "";
		width: 100%;
		height: 62.5em;
		position: absolute;
		left: 0;
		bottom: 0;
		background: radial-gradient(87.21% 78.08% at 63.22% 2.10%, rgba(12, 35, 64, 0.00) 12.50%, #0C2340 96.35%);
	}
	
	
/* WELCOME - BANNER BTN */
	.btn-outline-success{
		color: #00c756 !important;
		border-color: #00c756 !important;
		border-radius: 5em !important;
		padding-right: 2em;
		padding-left: 2em;
		text-transform: uppercase !important;
		border: 0.1em solid;
	}

	.btn-outline-success:hover{
		color: #f3f3f3 !important;
		background-color: #00c756 !important;
	}

	.btns{
		display: flex;
		justify-content: space-between;
		width: 55%;
	}

/*RESPONSIVE BTN AREA*/
	@media (max-width: 700px){
		.btns{
			width: 80%;
		}
	}

	@media (max-width: 500px){
		.btns{
			width: 50%;
			flex-direction:column;
		}
		.btns > a{
			margin-bottom: 2em;
		}
	}

	@media (max-width: 370px){
		.btns{
			width: 80%;
		}
	}

/* WELCOME INDICATORS */
	.carousel-indicators [data-bs-target] {
		width: 10px;
		height: 10px;
		border-bottom: 50em;
		border-top: 50em;
		border-radius: 50em;
		margin-right: 5px;
		margin-left: 5px;
		background-color: #a8adb0;
		opacity: 1;
	}

	.carousel-indicators {
		justify-content: flex-end !important;
		margin-right: 5% !important;
	}

	.carousel-indicators .active {
    	width: 30px;
		background-color: #00c756;
	}

	
/* WELCOME - BANNER TEXT */
	.carousel-caption{
		left: 5%;
		padding-top: 1.25rem;
		padding-bottom: 1.25rem;
		color: #fff;
		text-align: center;
	}

	.carousel-caption h5 {
		font-size: 3.5em;
		margin-bottom: 0.5em;
		color: #a8adb0;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 0.9;
		text-align: left;
		width: 100%;
	}

	.carousel-caption p{
		margin: 2em 0;
		display: flex;
		text-align: justify;
		font-size: 12pt;
		line-height: 1.5em;
	}

	.carousel-caption h5 span {
		position: absolute;
		display: contents;
		color: #00c756;
		font-size: 1.5em;
		line-height: 0;
	}


/* WELCOME - ICONS */
	.carousel-control-prev-icon{
		background-image: url('data:image/svg+xml,<svg  viewBox="0 0 102 66"  fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path  d="M22.2744 34.6418C21.6886 34.0561 21.6886 33.1063 22.2744 32.5205L31.8204 22.9746C32.4062 22.3888 33.3559 22.3888 33.9417 22.9746C34.5275 23.5604 34.5275 24.5101 33.9417 25.0959L25.4564 33.5812L33.9417 42.0665C34.5275 42.6522 34.5275 43.602 33.9417 44.1878C33.3559 44.7736 32.4062 44.7736 31.8204 44.1878L22.2744 34.6418ZM78.3483 35.0812H23.3351V32.0812H78.3483V35.0812Z"/></svg>');
	}

	.carousel-control-next-icon{
		background-image:url('data:image/svg+xml,<svg viewBox="0 0 102 66" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path d="M79.4463 34.6418C80.0321 34.0561 80.0321 33.1063 79.4463 32.5205L69.9003 22.9746C69.3145 22.3888 68.3648 22.3888 67.779 22.9746C67.1932 23.5604 67.1932 24.5101 67.779 25.0959L76.2643 33.5812L67.779 42.0665C67.1932 42.6522 67.1932 43.602 67.779 44.1878C68.3648 44.7736 69.3145 44.7736 69.9003 44.1878L79.4463 34.6418ZM23.3724 35.0812H78.3856V32.0812H23.3724V35.0812Z"/></svg>');
	}

	.carousel-control-next-icon, .carousel-control-prev-icon{
		border: solid 0.02em #f3f3f3;
		border-radius: 5em;
		padding: 0.2em 1.5em;
		display: grid;
	}

	.carousel-control-next, .carousel-control-prev {
		display: flex;
		align-items: flex-end;
	}

	.carousel-control-prev-icon {
		margin-right: 2em;
		position: absolute;
		display: flex;
		justify-content: flex-end;
	}

	#prev-icon{
		display: flex;
		width: 92%;
		justify-content: flex-end;
	}

	.controls {
		position: relative;
		bottom: 8.5em;
	}

	.carousel-control-prev {
		margin-left: -3em;
	}

	.carousel-control-next{
		margin-right: 0.5em;
	}


	/* RESPONSIVE AREA CAROUSEL */
		@media (min-width: 1900px){
			.container-image {
				height: 55em;
			}
			.carousel-caption {
				width: 50%;
				bottom: 25%;
			}
			.controls {
				bottom: 10.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 1500px) and (max-width: 1899px){
			.carousel-caption {
				bottom: 25%;
				width: 50%;
			}
			.container-image {
				height: 42.5em;
			}
			.controls {
				bottom: 8.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 1200px) and (max-width: 1499px){
			.carousel-caption {
				bottom: 25%;
				width: 65%;
			}
			.controls {
				bottom: 8.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px){
			.carousel-caption {
				bottom: 25%;
				width: 70%;
			}
			.carousel-caption h5 {
				font-size: 3em;
			}
			.controls {
				bottom: 7.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
		}

		@media (max-width: 993px){
			.container-image {
				background-color: #0c2340;
				height: 35em;
			}
			.carousel-caption {
				top: 20%;
				width: 90%;
			}
			.carousel-caption h5 {
				font-size: 3em;
			}
			.controls {
				bottom: 7.5em;
			}
			.carousel-indicators{
				visibility:hidden !important;
			}
			.dropdown-menu-dark{
				--bs-dropdown-item-padding-y: 0.5em;
			}
			.navbar-brand {
				padding: 0 0.5em;
			}
			.navbar-brand svg{
				width: 7em !important;
			}
			.navbar-nav .nav-link.active {
				color: #00c756;
				border-bottom: 0;
			} /* ACTIVE BORDER SELECTION */
		}

		@media (max-width: 767px){
			.carousel-caption {
				top: 15%;
				width: 90%;
			}
			.container-image {
				height: 37em;
			}
			.controls{
				visibility:hidden ;
			}
			.carousel-indicators{
				padding-bottom: 3.5em;
				visibility: visible !important;
			}
		}

		@media (max-width: 700px){
			.h-banner{
				height: 100%;
				object-fit: cover;
			}
		}

		@media (max-width: 350px){
			.carousel-caption{
				top: 15%;
				width: 100%;
				left: 0;
				right: 0;
				padding: 0 1.5em;
			}
			.carousel-indicators{
				padding-bottom: 4em;
			}
			.banner-caption h2 {
				font-size: 2.5em !important;
				margin-bottom: 0;
			}
			.container-image {
				height: 45em;
			}
		}



/* FIRST SECTION */
	#first-section {
		height: auto;
	}

	.first-bg {
		width: auto;
		height: auto;
		background-color: rgb(247, 247, 247);
	}

	.first-part-bg::before {
		content: "";
		width: 100%;
		height: 20em;
		background-color: rgb(12, 35, 64);
		position: absolute;
		z-index: 0;
	}

	#title {
		padding-bottom: 3em;
	}
	
	#title h6 {
		font-size: 2.5em;
		text-transform: uppercase;
		font-weight: 700;
		color: rgb(0, 199, 86);
		margin-left: 0.8em;
		padding-top: 2.5px;
		z-index: 2;
		position: relative;
	}

	#title::before {
		content: "";
		height: 2em;
		width: 1em;
		background-color: rgb(0, 199, 86);
		position: absolute;
		margin: 0px !important;
	}

	.first-container {
		display: flex;
		margin: 0px 5em;
	}
	
	#row-first {
		--bs-gutter-x: none;
	}


/* CARDS */
	.first-row{
		justify-content: space-evenly;
	}

	:root {  
	  --g1: #a8adb0;
	  --g2: #a8adb0;
	  --g3: #a8adb0;
	}

	.cards{
		position: relative;
  		overflow: hidden;
		--bs-card-border-color: none;
	}

	.card-link {
		display: contents;
		width: 100%;
		height: 100%;
	}

	.cards img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: 0;
		border-radius: 0.65em;
	}

	.gradient-card {
		aspect-ratio: 1 / 1.4;
		cursor: pointer;
		position: relative;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		border-radius: 1em;
		margin: 0px 0.5em 5em 0.5em;
	}

	.gradient-card::after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		bottom: 0px;
		background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgba(217, 217, 217, 0.00) 36.89%, rgba(217, 217, 217, 0.50) 60.76%, #D9D9D9 83.33%);
		border-radius: 0.6em;
	}

	.cards::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, #D9D9D9 100%);
		opacity: 0;
		transition: opacity 0.3s ease;
	}
    
    .cards:hover::before {
		opacity: 1;
    }

	.gradient-card:hover:before {
		background-position: 100% 100%;
	}

	.gradient-card:hover{
		box-shadow: 0 0 1rem rgba(0,0,0,0.15);
	} 

	.gradient-card:hover > .card-content {
		opacity: 1;
		transform: translateY(0%);
		transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
	}

	.gradient-card::before {
		background-size: 100% 100%;
		content: "";
		height: 100%;
		left: 0px;
		pointer-events: none;
		position: absolute;
		top: 0px;
		width: 100%;
		z-index: 1;
		background-position: 0% 0%;
		transition: background-position 350ms ease 0s, transform 350ms ease 0s;
		border-radius: 0.6em;
	}
	
	.cards h3 {
		position: absolute;
		bottom: 0px;
		right: 0px;
		color: rgb(12, 35, 64);
		font-weight: 600;
		line-height: 89.5%;
		text-transform: uppercase;
		text-align: right;
		z-index: 2;
		margin: 0px;
		padding: 30px;
	}


	/* RESPONSIVE AREA FIRST SECTION */
		@media (min-width: 1900px) {
			.cards {
				max-width: 20%;
				flex: 0 0 28%;
			}
			.cards h3 {
				font-size: 25pt;
			}
		}

		@media (min-width: 1500px) and (max-width: 1899px) {
			.cards {
				max-width: 20%;
				flex: 0 0 20%; 
			}
			.cards h3 {
				font-size: 22pt;
				padding: 20px
			}
		}

		@media (min-width: 1380px) and (max-width: 1499px){	
			.cards {
				max-width: 20%;
				flex: 0 0 20%; 
			}
			.cards h3 {
				font-size: 18pt;
				padding: 20pt;
			}
		}

		@media (min-width: 1200px) and (max-width: 1379px) {
			.cards {
				max-width: 20%;
				flex: 0 0 20%; 
			}
			.cards h3 {
				font-size: 15pt;
				padding: 20pt;
			}
		}

		@media (min-width: 992px) and (max-width: 1199px) {
			.cards {
				max-width: 30%;
				flex: 0 0 30%;
			}
			.cards h3 {
				font-size: 20pt;
				padding: 15px;
			}
		}

		@media (max-width: 991px) {
			.cards {
				max-width: 30%;
				flex: 0 0 45%;
			}
			.cards h3 {
				font-size: 15pt;
				padding: 15px
			}
			.gradient-card{
				margin: 0px 0.5em 3em 0.5em;
			}
		}

		@media (max-width: 767px){
			.cards {
				max-width: 40%;
				flex: 0 0 70%;
			}
			#title h6 {
				font-size: 1.5em;
				padding-top: 0;
				top: -2px;
			}
			#title::before {
				width: 0.5em;
				height: 1.5em;
			}
		}

		@media (max-width: 600px){
			.first-container{
				margin: 0 3em
			}
			.cards {
				max-width: 95%;
				flex: 0 0 100%;
			}
			.cards::after{
				background: linear-gradient(180deg, rgba(217, 217, 217, 0.00) 0%, rgb(217 217 217 / 42%) 36.89%, rgb(217 217 217 / 88%) 60.76%, #D9D9D9 83.33%);
			}
			.cards h3 {
				font-size: 20pt;
				padding: 15px
			}
			.gradient-card {
				aspect-ratio: auto;
				margin-bottom: 1.5em;
			}
			.gradient-card{
				aspect-ratio: 1/0.45;
			}
			.first-bg{
				background: #0c2340;
			}
		}
		
		@media (max-width: 400px){
			.cards h3 {
				font-size: 16pt;
				padding: 15px;
			}
			.first-container{
				margin: 0 1em;
			}
			
		}



/* SECOND SECTION */
	/* TITLE 2 */
	#second-section {
		height: auto;
		background-color: rgb(247, 247, 247);
	}

	#title2{
		padding-top: 5em;
	}

	.title2 {
		display: block;
		position: relative;
	}

	.major{
		padding: 0 0 2em 0;
	}

	.name {
		display: block;
		position: relative;
		color: #0C2340;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 1em;
	}

	header.major > .title2:before, header.major > .title2:after {
		content: '';
		color: #0c2340;
		display: block;
		position: absolute;
		top: 50%;
		width: calc(32% - 0.1em);
		border-top: solid 0.1em;
	}

	header.major > .title2:before {
		left: 5em;
	}

	header.major > .title2:after {
		right: 5em;
	}


	/*RESPONSIVE SECOND SECTION*/
		@media screen and (max-width: 1530px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(32% - 3em);
			}
		}

		@media screen and (max-width: 1200px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(32% - 5em);
			}
		}	

		@media screen and (max-width: 950px) {
			header.major > .title2:before, header.major > .title2:after {
				width: calc(25% - 2em);
			}
			header.major > .title2:before {
			left: 2.5em;
			}
			header.major > .title2:after {
				right: 2.5em;
			}
		}

		@media screen and (max-width: 767px) {
			header.major > .title2:before {
				content: "";
				height: 1.5em;
				width: 0.5em;
				background-color: #0C2340;
				position: absolute;
				margin: 0px !important;
				border: 0;
				left: 0;
				top: 0;
			}
			header.major > .title2:after{
				width: 0;
			}
			.name {
				margin-left: 0.8em;
				text-align: left;
				font-size: 1.5em;
				padding: 0;
				bottom: 2.5px;
			}
		}


/* SLIDER*/
	.highway-slider {
		display:flex;
		justify-content:center;
		width:100%;
		height:200px;
	}
	
	.highway-barrier {
		overflow:hidden;
		position:relative;
	}
	
	.highway-lane {
		display:flex;
		height:100%;
	}
	
	.highway-car {
		flex:1;
		display:flex;
		justify-content:center;
		align-items:center;
	}

	.highway-lane {
		width:500%;
	}

	@keyframes translateinfinite {
		100% { transform:translateX(calc(-180px * 12));  }
	}

	#infinite div.highway-barrier {
		&::before,
		&::after {
			content: " ";
			position:absolute;
			z-index:9;
			width:180px;
			height:100%;	
		}
		&::before {
			top:0;left:0;
			background: linear-gradient(to right, rgba(247 247 247) 0%, rgba(255,255,255,0) 100%);
		}
		&::after {
			top:0;right:0;
			background: linear-gradient(to left, rgba(247 247 247) 0%, rgba(255,255,255,0) 100%);
		}
		.highway-lane {
			width:calc(180px * 24); /*numero de images*/
		}
		.highway-car {
			width:180px;
			animation:translateinfinite 30s linear infinite; /*loop*/
		}
	}

	.marquee__content li {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.marquee__img {
		width: 25vw;
		padding: 0 10em;
	}

	/*@keyframes scrolling{
		0% { transform: translateX(-0vw); }
		100% { transform: translateX(-160vw); }
	}*/


	/* RESPONSIVE LOOP AREA */
		@media (min-width: 1600px) and (max-width: 1800px){
			.marquee__img {
				width: 10vw;
				padding: 1.5rem;
			}
		}

		@media (min-width: 1400px) and (max-width: 1599px){
			.marquee__img {
				width: 12vw;
				padding: 2.5rem;
			}
		}

		@media (min-width: 1101px) and (max-width: 1399px){
			.marquee__img {
				width: 15vw;
				padding: 2.5rem;
			}
		}

		@media screen and (max-width: 1100px) {
			.marquee__img {
				width: 10vw;
				padding: 1rem;
			}
				@keyframes scrolling {
				0%   {transform: translateX(-0vw);}
				100% { transform: translateX(-200vw);}
			}
		}

		@media screen and (max-width: 1100px) {
			.marquee__img {
				width: 15vw;
				padding: 1rem;
			}
		}

		@media screen and (min-width: 701px)  and (max-width: 1101px) {
			.marquee__img {
				width: 18vw;
				padding: 1.5rem;
			}
		}

		@media (max-width: 500px) and (max-width: 700px) {
			.marquee__img {
				width: 25vw;
				padding: 1rem;
			}
		}

		@media screen and (max-width: 500px) {
			.marquee__img {
				width: 23vw;
				padding: 0.5rem;
			}
		}


/* THIRD SECTION */
	#third-section{
		background-color: #f7f7f7;
		padding-top: 4em;
	}

	.cases{
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		padding: 4em;
	}

	.case {
		max-width: 1000px;
		margin-bottom: 2em !important;
		border: solid 0.01em #0c2340;
		background: transparent;
	}

	.case > div{
		margin: 1.5em;
		display: flex;
    	align-items: center;
	} 

	.card-body{
		padding: 0;
	}

	.card-body h5{
		color: #0C2340;
		font-size: 2rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	.card-body p {
		font-size: 14pt;
		line-height: 18pt;
		font-weight: 350;
		color: #0C2340;
		text-align: justify;
	}

	.cases-img1, .cases-img2{
		display: flex;
		padding: 0 0.5em;
		justify-content: flex-start;
	}

	.cases-img2{
		justify-content: flex-end;
	}

	.cases img {
		object-fit: cover;
		height: 8em;
		min-height: 11em;
	}

	.card-caption{
		padding: 0 0.5em;
	}

	/* RESPONSIVE AREA THIRD SECTION */
		@media screen and (max-width: 767px) {
			#reverse{
				display: flex;
				flex-direction: column-reverse;
			}
			.cases{
				padding: 2em;		
			}
			.cases-img1, .cases-img2{
				padding: 0;
			}
			.cases img {
				height: auto;
				padding-bottom: 1em;
			}
			.card-body p{
				font-size: 12pt;
				line-height: 16pt;
			}
			#third-section{
				padding-top: 2em;
			}
		}

		@media screen and (max-width: 400px) {
			.banner-caption h2 {
				font-size: 3em !important;
			}
			.banner-caption h2 {
				margin-top: 0;
			}
			.case > div{
				margin: 0.5em;
			}
			.card-caption {
				padding: 0;
			}
			.cases {
				padding: 0 1.5em 1em 1.5em;
			}
		}



/* ACTION BANNER */
	.action-banner {
		height: auto;
		background: conic-gradient(from 164deg at 50.00% 80.90%, #A8B0AD 0deg, #00C756 69.37499821186066deg, #A8ADB0 114deg, #A8ADB0 268deg, rgba(12, 35, 64, 0.50) 296deg, #A8ADB0 345deg);
		display: flex;
		align-items: center;
	}

	.banner-caption {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 3em;
	}

	.banner-caption h2 {
		color: #0C2340;
		text-align: center;
		font-size: 4rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		margin-bottom: 1em;
		margin-top: 0.5em;
	}

	.btn-primary {
		border-radius: 5em !important;
		background-color: #0c2340 !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		padding: 0.5em 3em;
	}

	@media screen and (max-width: 1000px) {
		.banner-caption > h2 > br{
			display: none !important;
			visibility: hidden !important;
		}
	}

	@media screen and (max-width: 500px) {
		.banner-caption > h2{
			font-size: 2.5em;
		}
	}
	




/* FOOTER */
	#footer {
		height: auto;
	}

	.f-nav{
		padding-bottom: 1em;
	}

	.footer-bg{
		box-shadow: 0 -0.5rem 1rem rgb(0 0 0 / 15%), inset 0 1px 0 rgba(255,255,255,0.15);
		background-color: #0c2340 !important;
	}

	.footer-p{
		--bs-navbar-padding-x: 0.5em;
		padding-top: 1.5em;
	}

	.footer > .container-fluid{
		align-items: flex-start;
		flex-direction: column;
	}

/* MENU PART 1 */
	.first-footer{
		width: 100%;
	}

	.menu-one {
		margin: 0 2em 2em 2em;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding-bottom: 2em;
		border-bottom: solid 0.01em #a8adb0;
	}


	/* SOCIAL MEDIA */
		.f-social-media {
			display: flex;
			justify-content: flex-start;
		}

		.s-media{
			display: flex;
			justify-content: space-between;
			right: 0;
			position: relative;
		}

		#media-a, #media-b{
			margin-right: 4em;
		}

		.social-media {
		  display: flex;
		}

		.media:hover svg path {
			fill: #00c756;
		}


/* MENU PART 2 */
	.f-menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		padding: 2em;
	}

	/* ACCORDION */
		.footer-menu{
			--bs-accordion-active-color: #00c756 !important;
			--bs-accordion-active-bg: transparent !important;
			--bs-accordion-border-color: none !important;
			--bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23a8adb0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
			--bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2300c756'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
			--bs-accordion-btn-icon-width: 0.75rem;
			display: flex;
			flex-direction: row;
			width: 100%;
			justify-content: space-evenly;
			/*padding: 0 0 0 5em;*/ /*center footer 4options*/
		}

		.menu-item {
			display: flex;
			justify-content: flex-start;
			color: #f7f7f7;
			background-color: transparent;
			border: none;
			flex-direction: column;
			padding: 0.5em;
			
		}

		.footer-accordion-items {
			padding: 0;
			border-top: 0.15em solid #00c756;
			width: 100% !important;
		}

		.footer-accordion-items > li{
			list-style: none;	
			padding: 0.25em 0;
			color: #f7f7f7;
		}

		.footer-accordion-items > li > a{
			--bs-dropdown-link-hover-color: #00c756;
    		--bs-dropdown-link-active-color: #00c756;
			padding: 0 1em;
		}

		.footer-accordion-items > li > a:hover{
			background: rgba(255, 255, 255, 0.15);
		}

		.home-f-btn, .hm-footer{
			color: #a8adb0;
			text-decoration: none;
			background-color: transparent;
			font-size: 14pt;
			padding: 0;
		}

		.f-dropdown-item{
			font-size: 11pt;
			color: #f7f7f7;
		}

		.home-f-btn::after{
			margin-left: 0.15em;
		}

		.home-f-btn:hover, .hm-footer:hover{
			color: #00c756 ;
		}

		.footer-menu > div:last-child > h2 > .home-f-btn:after{
			background-image: none;
		}

		


/* MENU THIRD */
	.third-footer {
		border-top: solid 0.01em #a8adb0;
		display: flex;
		justify-content: space-between;
		padding-top: 2em;
		width: 100%;
		align-items: flex-end;
	}

	/* CERTIFICATIONS */
		.certificate-two, .certificate-one, .certificate, .certifications{
			display: flex;
			justify-content: flex-end;
		}

		.certifications .c-one{
			height: 5.6em;
			width: auto;
		}

		.certifications > .c-two, .certifications>.c-three{
			height: 4.5em;
			width: auto;
		}

		.c-one, .c-two{
			padding-right: 2em;
		}

	/* COPYRIGHT*/
		.copyright-text{
			color: #a8adb0;
			font-weight: 600;
			font-size: 12pt;
			letter-spacing: 0.09rem;
			text-transform: uppercase;
			line-height: 1;
		}

	/* RESPONSIVE AREA FOOTER */
		@media (min-width: 949px){
			.second-social{
				visibility: visible !important;
			}
			.first-social{
				display: none !important;
			}
			.certificate-one{
				visibility: visible !important;
			}
			.certificate-two{
				display: none !important;
			}
		}

		@media (max-width: 949px){
			.second-social{
				visibility: visible !important;
			}
			.first-social{
				display: none !important;
			}
			.certificate-one{
				visibility: visible !important;
			}
			.certificate-two{
				display: none !important;
			}
			.footer-menu{
				display: flex;
				flex-direction: column !important;
				padding: 0 2em;
			}
			.menu-item{
				padding: 0.5em 0;
				width: auto;
			}
			.certifications {
    			justify-content: space-between;
			}
			.footer-accordion-items {
				width: 50% !important;
			}
		}

		@media (max-width: 750px){
			.first-social{
				visibility: visible !important;
				display: flex !important;
			}
			.second-social{
				display: none !important;
			}
			.certificate-two{
				visibility: visible !important;
				display: flex !important;
			}
			.certificate-one{
				display: none !important;
			}
			.menu-one {
				flex-direction: column;
				align-items: flex-start;
			}
			.f-brand{
				margin-bottom: 3em;
			}
			.third-footer{
    			align-items: center;
				flex-direction: column;
			}
			.certificate-two, .certificate, .certifications{
				width: 100%
			}
			.copyright{
				padding-top: 2em
			}
			.footer-accordion-items {
				width: 60% !important;
			}
		}

		@media (max-width: 500px){
			.first-social{
				visibility: visible !important;
				display: flex !important;
			}
			.second-social{
				display: none !important;
			}
			.certificate-two{
				visibility: visible !important;
				display: flex !important;
			}
			.certificate-one{
				display: none !important;
			}
			.certifications .c-one{
				height: 3.8em;
			}
			.certifications > .c-two, .certifications>.c-three{
				height: 3em;
			}
			.copyright-text {
				font-size: 10pt;
				text-align: center;
			}
			.first-social, .social-media, .s-media{
				width: 100%
			}
			.s-media > a > svg{
				height: 1.5em;
			}
			#media-a, #media-b{
				margin: 0;
			}
			.menu-one, .third-footer{
				border: none;
				padding: 0;
			}
			.footer-menu{
				border-top: 0.01em solid #a8adb0;
				padding: 2em;
				border-bottom: 0.01em solid #a8adb0;
			}
			.footer-accordion-items {
				width: 100% !important;
			}
			.footer-bg{
				box-shadow: none;
			}
		}

		@media (max-width: 300px){
			.certificate, .certifications{
				flex-direction: column;
				align-items: center;
			}
			.certifications .c-one {
				height: 5.6em;
			}
			.certifications > .c-two, .certifications>.c-three {
				height: 3.5em;
			}
			.certifications .c-one, .certifications > .c-two{
				margin-bottom: 1em;
			}
			.c-one, .c-two {
    			padding-right:0;
			}
			.f-brand a svg {
    			width: 7em !important;
			}
		}




/* ABOUT PAGE */
/* ABOUT BANNER */
	.about-banner{
		height: 25em;
		width: 100%;
		object-fit: cover;
		display: flex;
	}

	.about-info-card{
	    display: flex;
		margin: 0 !important;
		padding: 7em 6em;
		background: rgba(168, 173, 176, 0.20);
		--bs-card-inner-border-radius: none !important;
		--bs-card-border-color: none;
	}

	.about-info-card > div{
		display: flex;
	}


	.about-info-text{
		font-weight: 400;
	}

	.about-info-text > p:first-child{
		margin-bottom: 2em;
		padding-left: 2em;
		border-left: 0.3em solid #00c756;
	}

	.about-info-text > p > span{
		color: #00C756;
		font-weight: 700;
	}

	.about-info-img{
		padding-left: 4em;
	}

	.about-info-card img{
		display: flex;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}


	/* RESPONSIVE AREA FOOTER */
		@media (min-width: 1650px){
			.about-info-card > div{
				align-items: center;
			}
		}

		@media (max-width: 1400px){
			.about-info-card{
				padding: 5em 4em;
			}
		}

		@media (max-width: 1400px){
			.about-info-card{
				padding: 4em 2em;
			}
		}

		@media (max-width: 768px){
			.about-info-img{
				padding-left: 0;
				padding-top: 2em;
			}
			.about-info-card{
				padding: 4em 3em;
			}
		}

		@media (max-width: 500px){
			.about-info-card{
				padding: 4em 2em;
			}
		}


/* FIRST SECTION */
	/* TITLE 1 */
	#about-section {
		height: auto;
		padding: 6em 0;
	}

	.about-title{
		display: block;
		position: relative;
	}

	.about-major{
		padding: 0 0 2em 0;
	}

	.about-headline{
		display: block;
		position: relative;
		color: #0C2340;
		text-align: center;
		font-size: 2.5rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 1em;
	}

	header.about-major > .about-title:before, header.about-major > .about-title:after {
		content: '';
		color: #0c2340;
		display: block;
		position: absolute;
		top: 50%;
		width: calc(32% - 0.1em);
		border-top: solid 0.1em;
	}

	header.about-major > .about-title:before {
		left: 5em;
	}

	header.about-major > .about-title:after {
		right: 5em;
	}


	/*RESPONSIVE SECOND SECTION*/
		@media screen and (max-width: 1530px) {
			header.about-major > .about-title:before, header.about-major > .about-title:after {
				width: calc(32% - 3em);
			}
		}

		@media screen and (max-width: 1200px) {
			header.about-major > .about-title:before, header.about-major > .about-title:after {
				width: calc(32% - 5em);
			}
		}	

		@media screen and (max-width: 950px) {
			header.about-major > .about-title:before, header.about-major > .about-title:after {
				width: calc(25% - 2em);
			}
			header.about-major > .about-title:before {
			left: 2.5em;
			}
			header.about-major > .about-title:after {
				right: 2.5em;
			}
		}

		@media screen and (max-width: 767px) {
			header.about-major > .about-title:before{
				content: "";
				height: 1.5em;
				width: 0.5em;
				background-color: #0C2340;
				position: absolute;
				margin: 0px !important;
				border: 0;
				left: 0;
				top: 0;
			}
			header.about-major > .about-title:after{
				width: 0;
			}
			.about-headline{
				margin-left: 0.8em;
				text-align: left;
				font-size: 1.5em;
				padding: 0;
				bottom: 2.5px;
			}
		}

/* FOUNDERS CARDS */
	.a-cards{
		padding-top: 6em;
		padding-right: 4em;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	/* FOUNDER CARD */
		.a-founder-card{
			--bs-card-border-radius: none;
			--bs-card-border-color: none;
			background: transparent;
			width: 70%;
		}

		.a-founder-info{
			border-radius: 2em;
			background: rgba(168, 173, 176, 0.10);
			width: 100%;
		}

		#founder-info1{
			padding: 2em 2em 2em 6em;
			margin: -1em 0 0 4em;
		}

		#founder-info2{
			padding: 2em 6em 2em 2em ;
			margin: 0;
		}


	/* INFO FOUNDERS CARDS */
		.a-founder-cb > h5{
			font-size: 30pt;
			font-weight: 400;
			margin: 0;
			line-height: normal;
			text-transform: none;
		}

		.a-founder-cb > p > .text-body-secondary{
			color: #0C2340 !important;
			font-size: 20pt;
			font-weight: 700;
			line-height: 140%;
		}

		#founder-two{
			padding-top: 4em;
		}

		#founder-two > .row{
			display: flex;
			flex-direction: row-reverse;
		}/* REVERSE CARD */

	/* IMAGE FOUNDER CARD*/
		.about-founder-img{
			position: absolute;
			width: auto;
		}

		.founder-img{
			height: 10em;
			width: auto;
			border-radius: 50em;
		}

		#founder2{
			margin: 1em -4em 0 0;
		}

		/*RESPONSIVE SECOND SECTION*/
			@media screen and (max-width: 1000px){
				.a-cards{
					padding-top: 4em;
				}
			}

			@media screen and (max-width: 767px){
				.about-banner{
					height: 15em;
				}
				.about-info-text > p:first-child{
					padding-left: 1em;
				}
				#about-section {
					padding: 4em 0;
				}
				.a-cards{
					padding-top: 1em;
					padding-right: 0;
				}
				.a-founder-card{
					width: 100%;
					padding: 0 3em;
				}
				#founder-two{
					padding-top: 1em;
				}
				.founder-img{
					height: 6em;
					margin: 1em 2em;
				}
				#founder-info1, #founder-info2{
					margin: 0;
					padding: 0;
				}
				.a-founder-cb{
					margin: 0;
					padding: 2.7em 2em 2em 2em !important;
				}
				.a-founder-cb > h5{
					margin-left: 2.5em;
				}
				.a-founder-sub{
					margin-left: 6.4em;
				}
				.a-founder-cb > .card-text:last-child{
					margin-top: 1.5em;
				}
				#founder-two > .row{
					flex-direction: row;
				}
				#founder2{
					margin: 0;
				}
			}

			@media screen and (max-width: 500px){
				.a-founder-info{
					border-radius: 1em;
				}
				.a-founder-card{
					padding: 0 2em;
				}
				.founder-img{
					margin: 1em;
				}
				.a-founder-cb > h5{
					font-size: 20pt;
					margin-left: 4em;
				}
				.a-founder-sub{
					margin-left: 6.6em;
				}
				.a-founder-cb > p > .text-body-secondary{
					font-size: 15pt
				}
				.a-founder-cb{
					padding: 4em 1em 1em 1em !important;
				}
			}

	.about-cta-img > img{
		height: 25em;
		object-fit: cover;
		display: flex;
	}



/* SECOND SECTION */
/* TITLE 1 */
	#about-section2 {
		padding-bottom: 6em;
	} /* SECTION GUIDE */

	.a-timeline{
		padding: 1em 12em;
	} /* TIMELINE */

/*CARD INFORMATION TIMELINE */
	.a-s-info{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	} 

	.a-s-info > .btn{
		background: #a8adb0 !important;
		color: #0c2340 !important;
		font-weight: 900;
		font-size: 20pt;
		line-height: normal;
		padding: 1em 2em;
	}

	.a-s-info > p{
		width: 100%;
		text-align: center;
		padding-left: 3em;
	}

	.a-story-card2 > .a-s-info{
		display: flex;
		flex-direction: row-reverse;
	}

	.a-story-card2 > .a-s-info > p{
		padding-right: 3em;
		padding-left: 0;
	}

	/* TIMELINE BORDERS*/
		.a-story-card1, .a-story-card2, .a-story-card3, .a-story-card4{
			border-radius: 0;
			border: none;
			--bs-card-bg: none;
		}

		.a-story-card1 {
			border-bottom-left-radius: 4em;
			padding: 1em 1em 2em 3em;
			margin: 0 4em -0.1em 0;
			border-left: 0.15em solid #00c756 !important;
			border-bottom: 0.15em solid #00c756 !important;
		}	/*TIMELINE 1ST EXPTION BORDER*/

		.a-story-card2 {
			border-bottom-right-radius: 4em;
			border-top-right-radius: 4em;
			padding: 2em 3em 2em 0;
			margin: -0.1em  0 -0.1em 5em;
			border: 0.15em solid #00c756 !important;
			border-left: none !important;

		}	/*TIMELINE 2ND EXPTION BORDER*/

		.a-story-card3 {
			border-bottom-left-radius: 4em;
			border-top-left-radius: 4em;
			padding: 2em 0 2em 3em;
			margin:  -0.1em 4em -0.1em 0;
			border: 0.15em solid #00c756 !important;
			border-right: none !important;
		}	/*TIMELINE 3RD EXPTION BORDER*/

		.a-story-card4 {
			border-top-left-radius: 4em;
			padding: 2em 1em 1em 3em;
			margin: -0.1em 4em 2em 0;
			border-left: 0.15em solid #00c756 !important;
			border-top: 0.15em solid #00c756 !important;
		}	/*TIMELINE 4TH EXPTION BORDER*/

		#a-scard2-4{
			margin: -0.15em 0 -0.1em 5em;
		} /* TIMELINE EXCEPTION */

	/* TIMELINE DECORATION */
		.a-story-card1:before, .a-story-card2:after, .a-story-card3:before, .a-story-card4:before{
			content: "";
			height: 1em;
			width: 1em;
			background: #00c756;
			border-radius: 5em;
			position: absolute;
			top: 3.8em;
		}

		.a-story-card1:before{
			top: 2.9em;
			left: -0.55em;
		}

		.a-story-card2:after{
			right: -0.55em;
		}

		.a-story-card3:before, .a-story-card4:before{
			left: -0.55em;
		}

	/* RESPONSIVE TIMELINE AREA*/
		@media screen and (max-width: 1860px){
			.a-timeline{
				padding: 1em 10em;
			}
			#a-scard2-4{
				margin: -0.1em 0 -0.1em 4em;
			}
		}

		@media screen and (max-width: 1560px){
			.a-timeline{
				padding: 1em 6em;
			}
		}

		@media screen and (max-width: 1200px){
			.a-timeline{
				padding: 1em 4em;
			}
		}

		@media screen and (max-width: 1057px){
			#a-scard2-4:after{
				top: 4.8em;
			}
		}

		@media screen and (max-width: 880px){
			.a-s-info > p{
				padding-left: 1em;
			}
			.a-s-info > .btn{
				font-size: 16pt;
				padding: 0.8em 1.5em;
			}
			.a-story-card2 > .a-s-info > p{
				padding-right: 1em;
			}
			.a-story-card1{
				padding: 0 0 2em 1.5em;
				margin: 0 3.5em -0.1em 0;
			}
			.a-story-card2{
				padding: 2em 1.5em 2em 0;
				margin: -0.1em 0 -0.1em 3.5em;
			}
			#a-scard2-4, #a-scard2-6{
				padding: 2em 1.5em 2em 0;
				margin: -0.1em 0 -0.15em 3.5em;
			}
			#a-scard2-5{
				padding: 2em 0 2em 1.5em;
				margin:  -0.1em 3.5em -0.15em 0;
			}
			.a-story-card3{
				padding: 2em 0 2em 1.5em;
				margin:  -0.1em 3.5em -0.1em 0;
			}
			.a-story-card4{
				padding: 2em 0 0 1.5em;
				margin: -0.1em 3.5em 2em 0;
			}
			.a-story-card1:before{
				top: 1.5em;
			}
			.a-story-card2:after, .a-story-card3:before, .a-story-card4:before{
				top: 3.1em;
			}
			#a-scard2-3:before{
				top: 3.8em;
			}
			#about-section2 {
				padding-bottom: 4em;
			}
		}

		@media screen and (max-width: 650px){
			.a-timeline{
				padding: 0 2em;
			}
			.a-story-card2 > .a-s-info{
				display: flex;
				flex-direction: row;
				align-items: center;
			}
			.a-s-info{
				align-items: flex-start;
				border-bottom: 0.1em solid #00c756;
				padding: 1.5em 0.5em;
				margin: 0;
			}			
			.a-s-info > p, .a-story-card2 > .a-s-info > p{
				text-align: justify;
				padding-left: 2em;
			}
			.a-story-card2 > .a-s-info > p{
				padding-right: 0;
			}
			.a-story-card1, .a-story-card2, .a-story-card3, .a-story-card4{
				border: 0 !important;
				padding: 0  !important;
				margin: 0 0 -0.1em 0 !important;
			}
			.a-story-card1:before, .a-story-card2:after, .a-story-card3:before, .a-story-card4:before{
				height: 0
			}
			#a-scard2-1 > .a-s-info{
				padding-top: 0;
			}
			#a-scard2-7 > .a-s-info{
				border-bottom: none;
				padding-bottom: 0;
			}
		}

		@media screen and (max-width: 500px){
			.a-s-info > .btn{
				padding: 0.35em 1em;
			}
			.a-s-info, .a-story-card2 > .a-s-info{
				flex-direction: column;
				align-items: flex-start;
			}
			.a-s-info > p, .a-story-card2 > .a-s-info > p{
				padding: 0.5em 0 0 0;
				line-height: normal;
			}
			.a-founder-cb > h5{
				font-size: 18pt;
			}
			.a-founder-sub{
				line-height: normal;
				margin-left:6em;
			}
			.a-founder-cb > p > .text-body-secondary{
				font-size: 14pt
			}
		}




/* FORM */
/**/
	.cta-w-img:after{
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		bottom: px;
		background: conic-gradient(from 180deg at 50% 80.9%, rgba(168, 173, 176, 0.80) 0deg, rgba(0, 199, 86, 0.80) 69.37499821186066deg, rgba(168, 173, 176, 0.80) 155.9993040561676deg, rgba(168, 173, 176, 0.80) 211.35388612747192deg, rgba(12, 35, 64, 0.66) 296.2500071525574deg, rgba(168, 173, 176, 0.80) 360deg);
		z-index: 0;
	}

	.contact-w-img > .card{
		--bs-card-border-color: none !important;
		--bs-card-border-radius: 0 !important;
		--bs-card-inner-border-radius: 0 !important;
	}

	.card-img-overlay{
		z-index: 1;
	}

	.contact-w-img{
		width: 100%;
	}

	.cta-img > img{
		height: 30em;
		object-fit: cover;
		display: flex;
	}

/* BANNER */
	.form-banner {
		height: auto;
		background: conic-gradient(from 180deg at 50% 80.9%, rgba(168, 173, 176, 0.75) 0deg, rgba(0, 199, 86, 0.75) 69.37499821186066deg, rgba(168, 173, 176, 0.75) 155.9993040561676deg, rgba(168, 173, 176, 0.75) 211.35388612747192deg, rgba(12, 35, 64, 0.66) 296.2500071525574deg, rgba(168, 173, 176, 0.75) 360deg);
		display: flex;
		align-items: center;
	}

	.form-b-caption {
		display: flex;
		align-items: center;
		flex-direction: column;
		text-align: center;
		padding: 3em;
		color: #0c2340;
		justify-content: space-between;
	}

	.form-b-caption h2 {
		font-size: 4rem;
		font-weight: 700;
		line-height: normal;
	}

	.form-b-caption p{
		font-size: 20pt;
		font-weight: 500;
		line-height: normal;
		margin-bottom: 1em;
	}

	.ffb-btn {
		border-radius: 5em !important;
		background-color: #0c2340 !important;
		color: #f7f7f7!important;
		font-weight: 500;
		font-size: 14pt;
		border: none !important;
		padding: 0.5em;
		width: 4em;
		height: 4em;
		display: flex;
		align-items: center;
    	justify-content: center;
	}


/* FORM SECTION */
	.form-section{
		display: flex;
		width: 100%;
    	justify-content: center;
	}

	form{
		width:100%;
		height:auto;
		padding: 4em;
		margin: 6em 0;
		box-sizing:border-box;
		max-width: 80%;
		background: #0c2340;
		border-radius: 0.5em;
	}

	form > div{
		margin-bottom: 1.5em
	} /*space between divs*/

	label{
		display:block;
		font-weight:400;
		color: #a8adb0;		
	} /*general label*/

	.form-control{
		--bs-body-bg: transparent;
	} 

	.form-floating>.form-control-plaintext~label, .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label, .form-floating>.form-control:focus~label::after{
		color: #00c756 !important;
		--bs-body-bg: transparent !important;
	}

	.form-floating>.form-control:not(:placeholder-shown){
		color: #a8adb0;
		padding-top: 2.5em;
	} /*placeholder padding space*/

	textarea.form-control, .e-text-fc{
		background-color: #fff !important;
	}/*color textarea*/		

	.form-floating>.form-control, .form-floating>.form-control-plaintext {
		padding: 1em 0.25rem;
	} /*placeholder padding control space*/

	.form-floating>label{
		padding: 1em 0.25em;
	}/*input answer padding*/

	.e-input{
		background: transparent;
		border: none;
		border-radius: 0;
		border-bottom: 0.1em solid #a8adb0;
		color: #a8adb0;
	}/*general costum input*/

	.e-input-text{
		background: #D9D9D9;
		border-radius: 0.25em;
	}

	input,textarea{
		width:100%;
		padding: 0 0.5em;
		color: #a8adb0;
	}

	input:focus,textarea:focus{
		outline:none;
	}

	button{
		display:block;
		width:50%;
		background:#0D6EFD;
		border:none;
		outline:none;
		cursor:pointer;
		padding:.8rem 0;
		font-size:1.2rem;
		color:white;
		margin:0 auto;
	}

	.btn-country, .btn-industry{
		background: #D9D9D9;
		color: #0c2340;
		border-radius: 5em;
		margin-top: 0;
		margin-bottom: 0.5em;
		margin-right: 0.1em;
		padding: 0.2em 1em;
		--bs-btn-active-bg: #00c756;
		--bs-btn-color: #0c2340;
		--bs-btn-bg: #a8adb0;
	}

	.submit-btn{
		--bs-btn-hover-bg: #a8adb0;
		--bs-btn-active-bg: #00c756;
		--bs-btn-color: #0c2340;
		--bs-btn-bg: #d9d9d9;
		font-size: 16pt;
		padding: 0.5em 2em;
		margin-top: 2em;
		width: auto;
	}

	/* RESPONSIVE AREA BANNER FORM */
		@media screen and (max-width: 900px){
			.form-b-caption h2 {
				font-size: 3em;
			}
		}

		@media screen and (max-width: 790px){
			.form-b-caption h2 {
				margin-bottom: 0.5em;
			}
			.form-b-caption p{
				font-size: 18pt;
				margin-bottom: 0.5em;
			}
			.space-f{
				display: none !important;
				visibility: hidden !important;
			}
		}

		@media screen and (max-width: 650px){
			.form-b-caption h2 {
				font-size: 2.5em;
			}
			.form-b-caption{
				padding: 2.5em;
			}
		}

		@media screen and (max-width: 507px){
			.form-b-caption p{
				font-size: 16pt;
				margin-bottom: 0;
			}
		}

		@media screen and (max-width: 453px){
			.form-b-caption h2 {
				font-size: 2.4em;
				margin-top: 0;
			}
			.form-b-caption p{
				font-size: 15pt;
			}
			.form-b-caption h2{
				font-size: 2.2em;
			}
		}

		@media screen and (max-width: 373px){
			.form-b-caption {
				padding: 1.7em;
			}
			.ffb-btn{
				width: 3.5em;
				height: 3.5em;
				margin-bottom: 1.5em;
			}
			.form-b-caption h2 {
				font-size: 2em;
			}
		}

	
	/* RESPONSIVE AREA FORM */
		@media screen and (max-width: 1500px){
			form{
				padding: 3em;
				margin: 4em 0;
				max-width: 85%;
			}
		}

		@media screen and (max-width: 768px){
			.submit-btn{
				font-size: 14pt;
				margin-top: 1em;
			}
			.ffb-btn > svg{
				width: 35px;
				height: auto;
			}
			form{
				padding: 2em;
				margin: 3em 0;
			}
		}





