/* BANNER SECTION BIS */
	.b-caption > .bis-slogan{
		font-size: 3em;
	}

	@media (min-width: 1300px) and (max-width: 1500px){
		.b-caption > .bis-slogan{
			font-size: 2.5em;
		}
	}

	@media (max-width: 1299px){
		.b-caption > .bis-slogan{
			font-size: 2em;
		}
	}

	@media (max-width: 1050px){
		.b-caption > .bis-slogan{
			font-size: 1.5em;
		}
	}

	@media (max-width: 829px){
		.b-caption > .bis-slogan{
			font-size: 1.3em;
		}
	}

	@media (max-width: 767px){
		.b-caption > .bis-slogan{
			font-size: 2em;
		}
	}


/* BUSINESS CARDS SECTION */
	.bis-sec{
		margin: 4em 16em;
	}

	.bis-card{
		padding: 2em 1em;
	}

	.bis-card-c{
		background-color: transparent;
		border: 0.01em solid #0C2340;
	}

	.bis-card-body{
		margin: 2em
	}

	.bis-card-title{
		color: #00C756 !important;
		font-weight: 600 !important;
		text-transform: none !important;
		padding-bottom: 1em;
	}

	.last-card{
		justify-content: center;
	}

/* BUSINESS CARDS RESPONSIVE SECTION AREA */
	@media (max-width: 1700px){
		.bis-sec{
			margin: 4em 10em;
		}
	}

	@media (max-width: 1500px){
		.bis-sec{
			margin: 4em 5em;
		}
	}

	@media (max-width: 1100px){
		.bis-sec{
			margin: 4em 3em;
		}
	}

	@media (max-width: 767px){
		.bis-sec{
			margin: 4em 3em;
		}
		.bis-cards-g > .row{
			flex-direction: column;
		}
		.bis-card{
			width: 100%;
			padding: 0.75em 0;
		}
	}