/* BANNER SECTION BIS */
	.b-caption > .taas-slogan{
		font-size: 3em;
	}

	@media (min-width: 1300px) and (max-width: 1500px){
		.b-caption > .taas-slogan{
			font-size: 2.5em;
		}
	}

	@media (max-width: 1299px){
		.b-caption > .taas-slogan{
			font-size: 2em;
		}
	}

	@media (max-width: 1050px){
		.b-caption > .taas-slogan{
			font-size: 1.5em;
		}
	}

	@media (max-width: 829px){
		.b-caption > .taas-slogan{
			font-size: 1.3em;
		}
	}

	@media (max-width: 767px){
		.b-caption > .taas-slogan{
			font-size: 2em;
		}
	}



/* DESCRIPTION SECTION */
	.taas-dark-case {
		max-width: 1000px;
		background: #0c2340;
	}

	.taas-dark > h5{
    	color: #00c756;
	}

	.taas-dark > p {
		color: #f7f7f7;
		font-size: 16pt !important;
	}

	.taas-card {
		align-items: center;
	}


/* CARDS SERVICES SECTION */
	.taas-services{
		margin: 2em 0 4em 0;
	}

	.taas-card-services{
		margin-top: 5em;
	}

	.taas-cards-sec{
	    margin: 2em 10em;
	}

	.taas-card-style{
		background-color: transparent;
		border: 0.01em solid #0C2340;
		margin: 0 8em;
	}

	.taas-card-name{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.taas-card-name > h5{
		margin: 1.5em;
		display: flex;
		justify-content: center;
		text-transform: none;
		line-height: normal;
		font-weight: 500;
		font-size: 16pt;
		text-align: center;
	}

/* RESPONSIVE DESCRIPTION AREA */
		@media (max-width: 1700px){
			.taas-card-style{
				margin: 0 6em;
			}
		}

		@media (max-width: 1500px){
			.taas-card-style{
				margin: 0 4em;
			}
		}

		@media (max-width: 1200px){
			.taas-cards-sec{
				margin: 2em 4em;
			}
			.taas-card-style{
				margin: 0 2em;
			}
		}

		@media (max-width: 900px){
			.taas-cards-sec{
				margin: 2em;
			}
		}

		@media (max-width: 767px){
			.taas-services{
				margin: 1em 0 4em 0;
			}
		}

		@media (max-width: 700px){
			.taas-cards-sec {
				flex-direction: column;
				margin: 0 2em;
			}
			.taas-card-style{
				margin: 0.5em 2em;
			}
			.taas-cards{
				width: 100%
			}
		}


/* ACCORDION SECTION */
	.taas-acc-section{
		margin: 6em 0;
	}

	.taas-accordion-sec{
		margin: 3em 12em 0 12em;
	}

	.taas-accordion{
		--bs-accordion-bg: transparent;
		--bs-accordion-border-color: none;
		--bs-border-radius: 0.3em;
		--bs-accordion-active-bg: none;
		--bs-accordion-btn-icon: none;
		--bs-accordion-btn-active-icon: none;
		--bs-accordion-btn-icon-transform: none;
		--bs-accordion-btn-icon-transition: none;
	}

	.taas-item-dark{
		margin: 0.5em;
		background: #a8adb0;
		border-radius: 0.5em;
	}

	.taas-item-clear{
		margin: 0.5em;
		background: #a8adb082;
		border-radius: 0.5em;
	}

	.taas-btn{
		font-size: 14pt;
		font-weight: 700;
		color: #0c2340;
	}

	.taas-acc-body{
		padding: 0 1.25em 1em 1.25em;
		font-size: 12pt;
		font-weight: normal;
		line-height: 1.75;
		color: #0c2340;
	}

	.taas-btn::after {
		content: "+";
		margin-bottom: 0.5em;
	}

	.taas-btn:not(.collapsed)::after {
		content: "-";
	}	

	/* ACCORDION TITLE */	
		#title3 h6 {
			font-size: 2em;
			font-weight: 600;
			color: #0c2340;
			margin-left: 2em;
			line-height: normal;
			z-index: 2;
			position: relative;
		}

		#title3 > h6 > span{
			text-transform: uppercase;
		}

		#title3::before {
			content: "";
			height: 1.7em;
			width: 2.5em;
			background-color: #0c2340;
			position: absolute;
			margin: 0px !important;
		}

	/* RESPONSIVE ACCORDION AREA */
		@media (max-width: 1700px){
			.taas-accordion-sec{
				margin: 3em 10em 0 10em;
			}
		}

		@media (max-width: 1500px){
			.taas-accordion-sec{
				margin: 3em 5em 0 5em;
			}
		}

		@media (max-width: 1000px){
			.taas-accordion-sec{
				margin: 3em 3.5em 0 3.5em;
			}
		}

		@media (max-width: 767px){
		.taas-accordion-sec{
			margin: 3em 2em 0 2em;
		}
	}


/* STEP MAPPING SECTION */
	.taas-container{
		padding: 4em 2em 8em 2em;
	}

	.taas-row{
		margin-left: 0;
		margin-right: 0;
	}

	.step{
		flex: 0 0 auto;
    	width: 30%;
		padding-left: 0;
		padding-right: 0;
	}

	.arrows{
	    display: flex;
		flex-direction: row;
		align-items: center;
		width: auto;
		padding: 0;
		max-width: 5%;
	}

	.map-arrows{
		display: flex;
		align-items: center;
		padding: 0;
		width: 5%;
	}

	.map-arrows2{
		width: 100%;
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.arrows-con{
		display: flex;
		justify-content: center;
		padding: 0;
	}

	.step-clear {
		border:0.1em solid #0c2340;
		padding: 1em;
		border-radius: 0.5em;
    }

	.step-dark{
		background: #0c2340;
		padding: 1em;
		border-radius: 0.5em;
	}

    .step-clear > h3, .step-dark > h3 {
      	margin-bottom: 0.5em;
		color: #00c756;
		font-size: 16pt;
		font-weight: 600;
    }

	.step-clear > p{
		text-align: justify;
		font-size: 12pt;
		line-height: normal;
	}

	.step-dark > p{
		color: #F3F3F3;
		text-align: justify;
		font-size: 12pt;
		line-height: normal;
	}

	/* RESPONSIVE MAPPING SECTION */
		@media (min-width: 1400px){
			#arrow-line2, #arrow-line3, #arrow-line4, #arrow-line5, #arrow2, #arrow3, #arrow4{
				display: none !important;
			}
			#arrow1, #arrow-line1{
				visibility: visible !important;
				display: flex !important;
			}
		}

		@media (max-width: 1399px){
			#arrow-line1, #arrow-line3, #arrow-line4, #arrow-line5, #arrow1,#arrow3, #arrow4{
				display: none!important;
			}
			#arrow2, #arrow-line2{
				visibility: visible !important;
				display: flex !important;
			}
		}

		@media (max-width: 1199px){
			#arrow-line1, #arrow-line2, #arrow-line5, #arrow1, #arrow2, #arrow4{
				display: none!important;
			}
			#arrow3, #arrow-line3{
				visibility: visible !important;
				display: flex !important;
			}
		}

		@media (max-width: 991px){
			.step{
				width: 47.5%;
			}
			#arrow5, #arrow-line1, #arrow-line2, #arrow-line3, #arrow-line5, #arrow1, #arrow2, #arrow3, #arrow4{
				display: none!important;
			}
			.arrows{
				flex-direction: column;
				width: -webkit-fill-available;
				max-width: -webkit-fill-available;
			}
			#arrow4,#arrow-line4{
				visibility: visible !important;
				display: flex !important;
			}
			.map-arrows2{
				width: auto;
				align-items: center;
			}
		}

		@media (max-width: 767px){
			.taas-row{
				display: flex;
				flex-direction: column;
			}
			.step{
				width: 100%;
			}
			.map-arrows, .map-arrows2{
				justify-content: center;
				margin: 0.75em 0;
				width: 100%;
			}
			#arrow5{
				visibility: visible !important;
				display: flex !important;
			}
			.arrow1, .arrow2, .arrow3, #arrow4, #arrow-line1, #arrow-line2, #arrow-line3{
				display: none!important;
			}
			#arrow-line4, #arrow-line5{
				transform: rotate(90deg);
			}
			#arrow-line5{
				visibility: visible !important;
				display: flex !important;
			}
			.map-arrow4 > svg, .map-arrow5 > svg{
				width: 34px;
			}
		}