
/* TECHNICAL SUPPORT SERVICES AREA */
/* SECTION BANNER */
	.tss-s{
		font-size: 1.1em !important;
	}

/* DESCRIPTION SECTION */
	.tss-dark-case {
		max-width: 1000px;
		background: #0c2340;
	}

	.tss-dark > p {
		color: #f7f7f7;
	}

	.tss-card {
		align-items: center;
	}

/* ADDITIONAL TEXT */
	.tss-d{
		padding: 0 14em 4em 14em;
	}

	.tss-d-head{
		color: #00C756;
		text-align: center;
		font-size: 20pt;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.tss-d-body{
		text-align: justify;
		font-weight: 400;
		line-height: normal;
		font-size: 14pt;
		padding-top: 3em
	}

	.tss-d-body > span{
		color: #00C756;
		font-weight: 700;
	}

	/* RESPONSIVE DESCRIPTION AREA */
		@media (max-width: 1600px){
			.ts-d{
				padding: 0 8em 2em 8em;
			}
		}

		@media (max-width: 1200px){
			.ts-d{
				padding: 0 4em 2em 4em;
			}
		}


/* CARDS SERVICES SECTION */
	.tss-services{
		margin: 2em 0 8em 0;
	}

	.tss-cards-sec{
	    margin: 2em 10em;
	}

	.tss-card-style{
		background-color: transparent;
		border: 0.01em solid #0C2340;
		margin: 0 8em;
	}

	.tss-card-name{
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.tss-card-name > h5{
		margin: 1.5em;
		display: flex;
		justify-content: center;
		text-transform: none;
		line-height: normal;
		font-weight: 500;
		font-size: 16pt;
		text-align: center;
	}

/* RESPONSIVE DESCRIPTION AREA */
		@media (max-width: 1700px){
			.ts-card-style{
				margin: 0 6em;
			}
		}

		@media (max-width: 1500px){
			.ts-card-style{
				margin: 0 4em;
			}
		}

		@media (max-width: 1200px){
			.ts-cards-sec{
				margin: 2em 4em;
			}
			.ts-card-style{
				margin: 0 2em;
			}
		}

		@media (max-width: 900px){
			.ts-cards-sec{
				margin: 2em;
			}
		}

		@media (max-width: 767px){
			.ts-services{
				margin: 1em 0 4em 0;
			}
		}

		@media (max-width: 700px){
			.ts-cards-sec {
				flex-direction: column;
				margin: 0 2em;
			}
			.ts-card-style{
				margin: 0.5em 2em;
			}
			.ts-cards{
				width: 100%
			}
		}

/* END TECHNICAL SUPPORT SERVICES AREA */
